:javascript
  $(function (){
    Dropzone.autoDiscover = false;
    $(".mydropzone").dropzone({
      maxFilesize: 1,
      paramName: 'image[file]',
      success: function(file, response){
        alert("upload finished!!");
      }
    });
  });
= form_for @image, html: { class: "form form-horizontal image mydropzone" } do |f|
  .form-group
    .col-lg-offset-2.col-lg-10
      .fallback
        = f.file_field :file
