:javascript
  $(function (){
    Dropzone.autoDiscover = false;
    $(".mydropzone").each( (idx, element) => {
      var option = {
        maxFilesize: 1,
        paramName: 'image[file]',
        success: function(file, response){
          $('.mydropzone').append('<img src="' + file.dataURL + '" style= "max-height: 50px;"/>');
        }
      };
      new Dropzone(element, option);
    });
    $(".mydropzone").append('<div class="dz-default dz-message"><span>Drop files here or click to upload.</span>');
  });
= form_for @image, html: { class: "form form-inline image mydropzone uk-text-center" } do |f|
  .form-group
    .fallback
      = f.file_field :file
.col-lg-2
  = link_to '一覧に戻る', images_path, :class => 'btn btn-default'
